<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keybindings</title>
    <style>
      :root {
        --table-border: color-mix(
          in srgb,
          var(--vscode-editor-foreground) 20%,
          black
        );
        --table-alternate: color-mix(
          in srgb,
          var(--vscode-editor-background) 99%,
          white
        );
      }

      body {
        font-family:
          -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
          sans-serif;
        background-color: var(--vscode-editor-background);
        color: var(--vscode-editor-foreground);
        padding: 20px;
      }

      h1 {
        color: var(--vscode-editor-foreground);
      }

      h4 {
        margin: 0;
      }

      .kb-group-container {
        background-color: var(--vscode-panel-background);
        position: relative;
        flex: 1 1 100%;
        padding: 0;
        break-inside: avoid;
      }

      .cheatsheet {
        column-gap: 16px;
      }

      .kb-title {
        width: 100%;
        box-sizing: border-box;
        font-weight: bold;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.9rem;
      }

      .kb-entry {
        display: flex;
        justify-content: space-between;
      }

      table.kb-table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid var(--table-border) !important;
        break-inside: avoid;
        margin-bottom: 16px;
        width: 100%;
      }

      table.kb-table th,
      table.kb-table td {
        border: 1px solid var(--table-border);
        padding: 10px;
      }

      table.kb-table tr:not(:last-child) td,
      table.kb-table tr:not(:last-child) th {
        border-bottom: 1px solid var(--table-border);
      }

      table.kb-table tbody tr:nth-child(even) {
        background-color: var(--table-alternate);
      }

      .right-cell {
        text-align: right;
      }

      tr:nth-child(even) td.right-cell {
        border-left: 1px solid var(--table-alternate);
      }
      tr:nth-child(even) td.left-cell {
        border-right: 1px solid var(--table-alternate);
      }

      tr:nth-child(odd) td.left-cell {
        border-right: 1px solid var(--vscode-panel-background);
      }
      tr:nth-child(odd) td.right-cell {
        border-left: 1px solid var(--vscode-panel-background);
      }

      @media (max-width: 599px) {
        .cheatsheet {
          column-count: 1;
        }
      }

      @media (min-width: 600px) and (max-width: 899px) {
        .cheatsheet {
          column-count: 2;
        }
      }

      @media (min-width: 900px) {
        .cheatsheet {
          column-count: 3;
        }
      }
    </style>
  </head>

  <body>
    <h1>Keybindings Cheatsheet</h1>
    <div class="cheatsheet">
      {{#each groups}}
        <div class="kb-group-container">
          <h4 class="kb-title" style="background-color: {{color}}88;">
            {{title}}
          </h4>
          <table class="kb-table">
            <tbody>
              {{#each items}}
                <tr>
                  <td class="kb-cell left-cell">{{desc}}</td>
                  <td class="kb-cell right-cell">{{key}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      {{/each}}
    </div>
  </body>

</html>