<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keybindings</title>
    <style>
      :root {
        --table-border: color-mix(
          in srgb,
          var(--vscode-editor-foreground) 20%,
          black
        );
        --table-alternate: color-mix(
          in srgb,
          var(--vscode-editor-background) 99%,
          white
        );
      }
      body {
        font-family:
          -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
          sans-serif;
        background-color: var(--vscode-editor-background);
        color: var(--vscode-editor-foreground);
        padding: 20px;
      }

      h1 {
        color: var(--vscode-editor-foreground);
      }
      h4 {
        margin: 0;
      }

      .kb-group-container {
        background-color: var(--vscode-panel-background);
        position: relative;
        flex: 1 1 100%;
        padding: 0;
      }

      .kbs-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
      }

      .kb-title {
        width: 100%;
        box-sizing: border-box;
        font-weight: bold;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 1rem;
      }

      .kb-entry {
        display: flex;
        justify-content: space-between;
      }

      table.kb-table {
        width: 100%
        border-collapse: collapse;
        border: 1px solid var(--table-border);
      }

      table.kb-table th,
      table.kb-table td {
        border: none;
        padding: 10px;
      }

      table.kb-table tr:not(:last-child) td,
      table.kb-table tr:not(:last-child) th {
        border-bottom: 1px solid var(--table-border);
      }

      table.kb-table tbody tr:nth-child(even) {
        background-color: var(--table-alternate);
      }

      @media (max-width: 299px) {
        .kb-group-container {
          flex: 1 1 100%;
        }
      }

      @media (min-width: 300px) and (max-width: 899px) {
        .kb-group-container {
          flex: 1 1 48%;
        }
      }

      @media (min-width: 900px) {
        .kb-group-container {
          flex: 1 1 30%;
        }
      }
    </style>
  </head>

  <body>
    <h1>Keybindings Cheatsheet</h1>
    <div class="kbs-container">
      {{#each groups}}
        <div class="kb-group-container">
          <h4 class="kb-title" style="background-color: {{color}}88;">
            {{title}}
          </h4>
          <table class="kb-table">
            <tbody>
              {{#each items}}
                <tr>
                  <td class="kb-cell">{{desc}}</td>
                  <td class="kb-cell">{{key}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      {{/each}}
    </div>
  </body>

</html>